---
import { Image } from "astro:assets";
import Video from "../../components/Video.astro";
import WebQuest from "../../components/WebQuest.astro";
import Imagem1 from "../../assets/images/1.jpeg";
import Imagem2 from "../../assets/images/2.png";
import Imagem3 from "../../assets/images/3.png";
---

<WebQuest title="Adionar ao carrinho">
  <div class="prose max-w-none text-justify">
    <div class="overflow-hidden mb-4">
      <Video title="WebQuest - Adicionar ao carrinho" code="ZeqjhBrGp_s" />
    </div>
    <div>
      <h2 class="font-bold mb-4">1. INTRODUÇÃO</h2>
      <Image
        class="mb-4"
        src={Imagem1}
        alt="Logo da CyberQuest"
        loading="lazy"
        width={340}
        height={340}
      />
      <p class="prose mb-4">
        O vídeo retrata um diálogo de Jorginho com a sua mãe, que pede para que
        ele vá ao mercado, e compre “arroz”. O garoto gentilmente atende o
        pedido, mas sente dificuldade para finalizar a compra. Dentre tantas
        opções na prateleira e a demanda pouco especificada de sua mãe, que não
        lhe oferecem elementos mínimos para que ele consiga fazer uma compra
        assertiva, quem nunca?
      </p>

      <p class="prose mb-4">
        O mercado oferece milhares de produtos em diferentes categorias, desde
        alimentos até itens de limpeza. A vasta gama de opções pode deixar os
        consumidores confusos, especialmente quando não possuem familiaridade
        com o objeto que se pretende adquirir, por isso, uma lista de compras
        bem elaborada é essencial para otimizar o tempo e garantir que todos os
        itens necessários sejam adquiridos. Além disso, ajuda a evitar compras
        por impulso e desperdício.
      </p>
      <p class="prose mb-4">
        Nas compras públicas não é tão diferente, dilemas como o de Jorginho,
        também são enfrentados em maior escala, por servidores(as) públicos(as)
        de todo país, demandas mal especificadas e mal justificadas, comprometem
        todo o processo de contratação. A insegurança na demanda pode ocasionar
        atraso na finalização de processo, demora em atender o interesse
        público, a aquisição de produtos ou serviços menos adequados e até mesmo
        deixar de comprar itens realmente essenciais.
      </p>

      <p class="prose mb-4">
        Agora vocês serão demandantes e tem uma missão a cumprir, chegou a hora
        de pesquisar e compreender um pouco mais sobre esse importante tema.
      </p>

      <p class="prose mb-4">
        Sejam pesquisadores curiosos e demandantes comprometidos, sua Escola
        precisa de vocês!
      </p>
      <p class="prose mb-4">Bom trabalho!</p>
    </div>
  </div>
  <div class="prose text-justify">
    <h2 class="font-bold mb-4">2. TAREFA</h2>
    <ul class="list-disc">
      <li class="prose mb-2">
        <p>
          A equipe será responsável pelo suprimento de fundos de uma Escola
          Estadual de Educação Profissional, e deverá elaborar uma demanda de
          aquisição de gêneros alimentícios para merenda escolar, mínimo de 10
          itens;
        </p>
        <li class="prose mb-2">
          <p>
            Deverá preencher o formulário de oficialização da demanda,
            devidamente justificada, conforme o seguinte modelo apresentado nos
            recursos dessa webquest.
          </p>
        </li>
      </li>
      <div>
        <h2 class="font-bold mb-2">3. PROCESSSO</h2>
        <p class="mb-2">
          Após definidas as equipes, vocês darão início à busca de informações
          necessárias para a resolução das tarefas;
        </p>
        <p class="mb-2">
          Além dos recursos disponibilizados na webquest, vocês podem consultar
          a Assessoria Financeira da Escola presencialmente para informações
          pontuais.
        </p>
        <p class="mb-2">
          Deverá ser preenchido e apresentado o documento de oficialização da
          demanda de compra de material de consumo utilizado nas atividades
          rotineiras da Escola, com justificativa e média de preços.
        </p>
      </div>
      <div>
        <h2 class="font-bold">4. RECURSOS</h2>
        <p class="mb-2">Documento de Oficialização da Demanda:</p>
        <p class="mb-2">
          <a
            href="https://www.gov.br/governodigital/pt-br/contratacoes-de-tic/1-documento-de-oficializacao-da-demanda-v-2-1-1.odt
"
          >
            https://www.gov.br/governodigital/pt-br/contratacoes-de-tic/1-documento-de-oficializacao-da-demanda-v-2-1-1.odt
          </a>
        </p>
        <p class="mb-2">
          <a href="https://youtu.be/GcWGgrghe-0">
            https://youtu.be/GcWGgrghe-0
          </a>
        </p>

        <p class="mb-2">
          <a href="https://youtu.be/Pz9P1r-3Q08">
            https://youtu.be/Pz9P1r-3Q08
          </a>
        </p>
        <p class="mb-2">
          <a
            href="https://www.licitacao.net/noticias/entenda-o-documento-de-formalizacao-de-demanda-dfd-na-nova-lei-de-licitacoes#:~:text=Melhora%20a%20Competitividade%3A&text=O%20Documento%20de%20Formaliza%C3%A7%C3%A3o%20de%20Demanda%20%C3%A9%20uma%20ferramenta%20essencial,mais%20eficiente%2C%20transparente%20e%20competitivo. 
"
          >
            https://www.licitacao.net/noticias/entenda-o-documento-de-formalizacao-de-demanda-dfd-na-nova-lei-de-licitacoes#:~:text=Melhora%20a%20Competitividade%3A&text=O%20Documento%20de%20Formaliza%C3%A7%C3%A3o%20de%20Demanda%20%C3%A9%20uma%20ferramenta%20essencial,mais%20eficiente%2C%20transparente%20e%20competitivo.
          </a>
        </p>
      </div>
      <div>
        <h2 class="font-bold">5. AVALIAÇÃO</h2>
        <ul class="list-disc">
          <li class="prose mb-2">
            A avaliação será realizada conforme os critérios abaixo:
          </li>
        </ul>

        <Image
          class="mb-4"
          src={Imagem2}
          alt="Logo da CyberQuest"
          loading="lazy"
        />
        <Image
          class="mb-4"
          src={Imagem3}
          alt="Logo da CyberQuest"
          loading="lazy"
        />
      </div>
      <div>
        <h2 class="font-bold mb-2">Conclusão</h2>
        <p>
          Ao final dessa atividade vocês deverão compreender melhor como
          funciona o processo de demandas públicas, e sua importância para uma
          contratação exitosa o que implica na responsabilidade com o orçamento
          público, esses conhecimentos podem ampliar sua atuação profissional,
          bem como contribuir para uma consciência crítica acerca de questões de
          importância coletiva, uma vez que, as contratações públicas permeiam a
          vida em sociedade.
        </p>
      </div>
    </ul>
  </div></WebQuest
>
