---
import WebQuest from "../../components/WebQuest.astro";
---

<WebQuest 
title="Explorando a História do Brasil" 
description="Desvendando os eventos que moldaram nossa nação" 
>
<div class="prose max-w-none">
  <h2>Introdução</h2>
  <h2>Tarefa</h2>
  <h2>Processo</h2>
  <h2>Recursos</h2>
  <h2>Avaliação</h2>
  <h2>Conclusão</h2>
</div>
</WebQuest>
