---
import WebQuest from "../../../components/WebQuest.astro";


---

<WebQuest title="6. CONCLUSÃO" previous={`${import.meta.env.BASE_URL}/webquest/1/avaliacao`}>
<div>
    <p>
        Ao final dessa atividade vocês deverão compreender melhor como funciona
        o processo de demandas públicas, e sua importância para uma contratação
        exitosa o que implica na responsabilidade com o orçamento público, esses
        conhecimentos podem ampliar sua atuação profissional, bem como
        contribuir para uma consciência crítica acerca de questões de
        importância coletiva, uma vez que, as contratações públicas permeiam a
        vida em sociedade.
    </p>
</div>
</WebQuest>
