---
import Video from "../../../components/Video.astro";
import WebQuest from "../../../components/WebQuest.astro";

---
<WebQuest title="Video - Adicionar ao carrinho" next={`${import.meta.env.BASE_URL}/webquest/1/introducao`}>
  <div class="overflow-hidden">
      <Video title="WebQuest - Adicionar ao carrinho" code="ZeqjhBrGp_s" />
    </div>
  
</WebQuest>