---
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
    title="3. PROCESSSO"
    previous={`${import.meta.env.BASE_URL}/webquest/1/tarefa`}
    next={`${import.meta.env.BASE_URL}/webquest/1/recurso`}
>
    <div>
        <p class="mb-2">
            Após definidas as equipes, vocês darão início à busca de informações
            necessárias para a resolução das tarefas;
        </p>
        <p class="mb-2">
            Além dos recursos disponibilizados neste webquest, vocês poderão
            consultar a Assessoria Financeira da Escola presencialmente para
            informações pontuais.
        </p>
        <p class="mb-2">
            O formulário “Documento de Oficialização da Demanda”, deverá ser
            preenchido conforme as orientações constantes nos recursos abaixo, e
            ser entregue em PDF e na data estabelecida, contendo, além do
            requerido, as fontes utilizadas para a sua elaboração.
        </p>
        <p>
            Os itens devem refletir a demanda de material de consumo
            (expediente) utilizado nas atividades rotineiras da Escola,
            devidamente justificado e com estimativa de preços.
        </p>
        <p>
            O documento poderá ser realizado em ferramenta de edição de texto ou
            outro aplicativos como o Canva; apresentação em folha A4; margens
            superior e esquerda 3cm, inferior e direita 2 cm; alinhamento à
            esquerda, espaçamento simples, fonte Arial ou Times New Roman,
            tamanho 12.
        </p>
    </div>
</WebQuest>
