---
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
  title="4. RECURSOS"
  previous={`${import.meta.env.BASE_URL}/webquest/1/processo`}
  next={`${import.meta.env.BASE_URL}/webquest/1/avaliacao`}
>
  <div>
    <h2 class="font-bold"></h2>
    <p class="mb-2">Documento de Oficialização da Demanda:</p>
    <p class="mb-2">
      <a
        href="https://www.gov.br/governodigital/pt-br/contratacoes-de-tic/1-documento-de-oficializacao-da-demanda-v-2-1-1.odt
"
        target="_blank"
      >
        https://www.gov.br/governodigital/pt-br/contratacoes-de-tic/1-documento-de-oficializacao-da-demanda-v-2-1-1.odt
      </a>
    </p>
    <p class="mb-2">
      <a href="https://youtu.be/GcWGgrghe-0" target="_blank">
        https://youtu.be/GcWGgrghe-0
      </a>
    </p>

    <p class="mb-2">
      <a href="https://youtu.be/Pz9P1r-3Q08" target="_blank">
        https://youtu.be/Pz9P1r-3Q08
      </a>
    </p>
    <p class="mb-2">
      <a
        href="https://www.licitacao.net/noticias/entenda-o-documento-de-formalizacao-de-demanda-dfd-na-nova-lei-de-licitacoes#:~:text=Melhora%20a%20Competitividade%3A&text=O%20Documento%20de%20Formaliza%C3%A7%C3%A3o%20de%20Demanda%20%C3%A9%20uma%20ferramenta%20essencial,mais%20eficiente%2C%20transparente%20e%20competitivo. 
"
        target="_blank"
      >
        https://www.licitacao.net/noticias/entenda-o-documento-de-formalizacao-de-demanda-dfd-na-nova-lei-de-licitacoes#:~:text=Melhora%20a%20Competitividade%3A&text=O%20Documento%20de%20Formaliza%C3%A7%C3%A3o%20de%20Demanda%20%C3%A9%20uma%20ferramenta%20essencial,mais%20eficiente%2C%20transparente%20e%20competitivo.
      </a>
    </p>
    <p class="mb-2">
      <a
        href="https://www.fontedeprecos.com.br/blog/pesquisa-precos-lei-14133"
        target="_blank"
      >
        https://www.fontedeprecos.com.br/blog/pesquisa-precos-lei-14133
      </a>
    </p>
  </div>
</WebQuest>
