---
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
    title="2. TAREFA"
    previous="/webquest/1/introducao"
    next="/webquest/1/processo"
>
    <ul>
        <li class="mb-2">
            <p>
                A equipe será responsável pelo suprimento de fundos de uma
                Escola Estadual de Educação Profissional, e deverá elaborar uma
                demanda de aquisição de gêneros alimentícios para merenda
                escolar, mínimo de 10 itens;
            </p>
            <li class="mb-2">
                <p>
                    Deverá preencher o formulário de oficialização da demanda,
                    devidamente justificada, conforme o seguinte modelo
                    apresentado nos recursos dessa webquest.
                </p>
            </li>
        </li>
    </ul>
</WebQuest>
