---
import { Image } from "astro:assets";
import Imagem2 from "../../../assets/images/2.png";
import Imagem3 from "../../../assets/images/3.png";
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
    title="5. AVALIAÇÃO"
    previous={`${import.meta.env.BASE_URL}/webquest/3/recurso`}
    next={`${import.meta.env.BASE_URL}/webquest/3/conclusao`}
>
    <div>
        <ul class="list-disc">
            <li class="prose mb-2">
                A avaliação será realizada conforme os critérios abaixo:
            </li>
        </ul>

        <Image
            class="mb-4"
            src={Imagem2}
            alt="Logo da CyberQuest"
            loading="lazy"
        />
        <Image
            class="mb-4"
            src={Imagem3}
            alt="Logo da CyberQuest"
            loading="lazy"
        />
    </div>
</WebQuest>
