---
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
    title="6. CONCLUSÃO"
    previous={`${import.meta.env.BASE_URL}/webquest/2/avaliacao`}
>
    <div>
        <p>
            Nesta Webquest, você aprenderá a identificar situações de
            inexigibilidade, com foco nas demandas específicas de uma escola,
            como a contratação de palestrantes, artistas ou serviços técnicos
            especializados.
        </p>
        <p>
            Pois diferente da dispensa de licitação, onde a competição é
            possível, mas a realização do certame não é obrigatória, por força
            de lei, na inexigibilidade, <strong
                >o ente público não tem opção,</strong
            > não há discricionariedade a observar. O que vale é a impossibilidade
            de obter propostas equivalentes, ou melhor, de ter o produto ou serviço
            necessário prestado satisfatoriamente por mais de um indivíduo. Em última
            análise, a inexigibilidade é condição que se impõe à Administração, como
            única forma de atendimento ao interesse público.
        </p>
    </div>
</WebQuest>
