---
import { Image } from "astro:assets";
import WebQuest from "../../../components/WebQuest.astro";
import Imagem6 from "../../../assets/images/6.jpg";
---

<WebQuest
    title="3. PROCESSSO"
    previous={`${import.meta.env.BASE_URL}/webquest/2/tarefa`}
    next={`${import.meta.env.BASE_URL}/webquest/2/recurso`}
>
    <div>
        <p class="mb-2">
            Após definidas as equipes, o núcleo gestor dará início à busca de
            informações necessárias para a resolução das tarefas;
        </p>
        <p class="mb-2">
            Pesquisem na Nova Lei de Licitações e Contratos Lei nº. 14.133/21 e
            nos sites indicados nos recursos abaixo;
        </p>
        <p class="mb-2">
            Além dos recursos disponibilizados na webquest, vocês podem também
            consultar a Direção Geral e a Assessoria Financeira da Escola
            presencialmente para informações pontuais.
        </p>
        <p>
            O trabalho deverá ser entregue em PDF e poderá ser realizado em
            ferramenta de edição de texto ou em outros aplicativos como no
            Canva; apresentação em folha A4; margens superior e esquerda 3cm,
            inferior e direita 2 cm; alinhamento centralizado, título em
            destaque, fonte Arial ou Times New Roman, tamanho 12.
        </p>
        <p>
            Abaixo um modelo de mapa mental, porém, podem usar toda a
            criatividade de verdadeiros gestores para produzir um trabalho
            objetivo e esteticamente atrativo.
        </p>
        <Image
            class="mb-4 mx-auto"
            src={Imagem6}
            alt="Imagem de um mapa mental"
            loading="lazy"
            width={540}
            height={540}
        />
        <p>
            Apesar do trabalho ser realizado em equipe, cada componente é
            responsável na resolução de tarefas, que devem ser entregues na data
            estabelecida, contendo, além do requerido, as fontes utilizadas para
            a sua elaboração.
        </p>
    </div>
</WebQuest>

