---
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
  title="4. RECURSOS"
  previous={`${import.meta.env.BASE_URL}/webquest/2/processo`}
  next={`${import.meta.env.BASE_URL}/webquest/2/avaliacao`}
>
  <div class="container mx-auto">
    <p class="mb-2">
      <a
        href="https://portaldatransparencia.gov.br/entenda-a-gestao-publica/orcamento-publico"
        target="_blank"
      >
        https://portaldatransparencia.gov.br/entenda-a-gestao-publica/orcamento-publico
      </a>
    </p>
    <p class="mb-2">
      <a
        href="https://portaldatransparencia.gov.br/entenda-a-gestao-publica/licitacoes-e-contratacoes
"
        target="_blank"
      >
        https://portaldatransparencia.gov.br/entenda-a-gestao-publica/licitacoes-e-contratacoes
      </a>
    </p>

    <p class="mb-2">
      <a
        href="https://www.portaldecompraspublicas.com.br/novidades/modalidades-de-licitacao-tipos-e-principais-duvidas-respondidas_1076
"
        target="_blank"
      >
        https://www.portaldecompraspublicas.com.br/novidades/modalidades-de-licitacao-tipos-e-principais-duvidas-respondidas_1076
      </a>
    </p>

    <p class="mb-2">
      <a href="https://youtu.be/1pvJ5f2ufxA" target="_blank">
        https://youtu.be/1pvJ5f2ufxA
      </a>
    </p>

    <p class="mb-2">
      <a
        href="https://portaldatransparencia.gov.br/entenda-a-gestao-publica/execucao-receita-publica"
        target="_blank"
      >
        https://portaldatransparencia.gov.br/entenda-a-gestao-publica/execucao-receita-publica
      </a>
    </p>

    <p class="mb-2">
      <a
        href="https://repositorio.enap.gov.br/bitstream/1/2170/1/Or%C3%A7amento%20P%C3%BAblico%20Conceitos%20B%C3%A1sicos%20-%20M%C3%B3dulo%20%20%281%29.pdf"
        target="_blank"
      >
        https://repositorio.enap.gov.br/bitstream/1/2170/1/Or%C3%A7amento%20P%C3%BAblico%20Conceitos%20B%C3%A1sicos%20-%20M%C3%B3dulo%20%20%281%29.pdf
      </a>
    </p>

    <p class="mb-2">
      <a
        href="https://www.gov.br/planejamento/pt-br/assuntos/orcamento"
        target="_blank"
      >
        https://www.gov.br/planejamento/pt-br/assuntos/orcamento
      </a>
    </p>

    <p>
      <a
        href="https://certificacaoiso.com.br/o-que-e-fluxograma-de-processos/"
        target="_blank"
      >
        https://certificacaoiso.com.br/o-que-e-fluxograma-de-processos/
      </a>
    </p>
  </div>
</WebQuest>
