---
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
  title="4. RECURSOS"
  previous={`${import.meta.env.BASE_URL}/webquest/3/processo`}
  next={`${import.meta.env.BASE_URL}/webquest/3/avaliacao`}
>
  <div class="container mx-auto">
    <p class="mb-2">
      <a
        href="https://licitacoesecontratos.tcu.gov.br/3-6-modalidades-de-licitacao/
"
        target="_blank"
      >
        https://licitacoesecontratos.tcu.gov.br/3-6-modalidades-de-licitacao/
      </a>
    </p>
    <p class="mb-2">
      <a
        href="https://portaldatransparencia.gov.br/entenda-a-gestao-publica/licitacoes-e-contratacoes
"
        target="_blank"
      >
        https://portaldatransparencia.gov.br/entenda-a-gestao-publica/licitacoes-e-contratacoes
      </a>
    </p>

    <p class="mb-2">
      <a
        href="https://www.portaldecompraspublicas.com.br/novidades/modalidades-de-licitacao-tipos-e-principais-duvidas-respondidas_1076
"
        target="_blank"
      >
        https://www.portaldecompraspublicas.com.br/novidades/modalidades-de-licitacao-tipos-e-principais-duvidas-respondidas_1076
      </a>
    </p>
    <p class="mb-2">
      <a
        href="https://www.canva.com/pt_br/help/adding-and-deleting-tables/
"
        target="_blank"
      >
        https://www.canva.com/pt_br/help/adding-and-deleting-tables/
      </a>
    </p>
  </div>
</WebQuest>
