---
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
    title="6. CONCLUSÃO"
    previous={`${import.meta.env.BASE_URL}/webquest/4/avaliacao`}
>
    <div>
        <p>
            Ao final desta WebQuest, vocês terão uma maior compreensão sobre as
            compras públicas de custeio e de capital, sua importância, marcos
            legais, implicações quanto à responsabilidade na destinação de
            recursos públicos e impacto na gestão. Esse conhecimento é
            necessário para que possam interpretar situações cotidianas, como
            estudantes, futuros profissionais da área de Administração, e também
            na perspectiva do exercício da cidadania.
        </p>
    </div>
</WebQuest>
