---
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
  title="4. RECURSOS"
  previous={`${import.meta.env.BASE_URL}/webquest/4/processo`}
  next={`${import.meta.env.BASE_URL}/webquest/4/avaliacao`}
>
  <div class="container mx-auto">
    <p class="mb-2">
      <a href="https://youtu.be/uJVPnJVg-EQ" target="_blank">
        https://youtu.be/uJVPnJVg-EQ
      </a>
    </p>
    <p class="mb-2">
      <a href="https://youtu.be/1pvJ5f2ufxA" target="_blank">
        https://youtu.be/1pvJ5f2ufxA
      </a>
    </p>

    <p class="mb-2">
      <a
        href="https://www.seplag.ce.gov.br/wp-content/uploads/sites/14/2023/08/MTO-CEARA-2024.pdf"
        target="_blank"
      >
        https://www.seplag.ce.gov.br/wp-content/uploads/sites/14/2023/08/MTO-CEARA-2024.pdf
      </a>
    </p>
  </div>
</WebQuest>
