---
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
    title="2. TAREFA"
    previous={`${import.meta.env.BASE_URL}/webquest/4`}
    next={`${import.meta.env.BASE_URL}/webquest/4/processo`}
>
    <div>
        <p class="mb-2">
            A) Você deve pesquisar sobre o tema e apresentar um relatório
            abordando conceito, diferenças e legislação aplicável acerca das
            compras de custeio e de capital;
        </p>
        <p>
            B) No relatório deve conter exemplos de compras de custeio e de
            capital que foram realizadas na sua Instituição de Ensino, e a
            modalidade de compra utilizada para essa aquisição (licitação,
            dispensa, inexigibilidade etc).
        </p>
    </div>
</WebQuest>
