---
import Layout from "../layouts/Layout.astro";
---

<Layout title="apresentacao">
    <div class="flex-grow container mx-auto px-4 py-8 text-justify">
        <div class="text-center mx-auto ">
            <h1 class="text-title-1 text-8 mb-2">Webquest</h1>
            <p class="text-6 mb-4">Busca na Web</p>

        </div>
        <p class="mb-4">
            Antes de iniciarmos a nossa jornada que tem como objetivo a
            integração de conteúdos e a compreensão de fenômenos relacionados à
            Contratações Públicas, por meio da aplicação de Webquests,
            convidamos vocês a conhecerem mais sobre essa ferramenta, de modo a
            possibilitar uma melhor interação.
        </p>
        <div class="mb-4">
            <p class="mb-4">
                A webquest, ou busca na web, traduzindo para português, foi
                desenvolvida na década de 90, pelo Professor Bernie Dodge, da
                Universidade de San Diego, na Califórnia. Sua metodologia
                consiste em atividades orientadas para a pesquisa em um ambiente
                virtual, e a resolução de tarefas, com recursos totalmente ou em
                partes, provenientes da internet. Sua estrutura lógica é
                dividida em seis partes distintas, são essas:
            </p>

            <ul>
                <li class="mb-2 ">
                        <span class="text-body-1">Introdução:</span> Informações básicas, abreviadas,
                        o intuito é de apresentar o tema e despertar o interesse para
                        a resolução das tarefas;

                </li>

                <li class="mb-2">
                    <span class="text-body-1 font-bold">Tarefa:</span> Ponto alto da Webquest, revela a situação/problema
                    a ser investigada e resolvida;
                </li>

                <li class="mb-2">
                    <span class="text-body-1 font-bold">Processo:</span> Nessa etapa são fornecidos os caminhos
                    a seres percorridos para a resolução das tarefas, é um passo
                    a passo, como um mapa a ser seguido;
                </li>

                <li class="mb-2">
                    <span class="text-body-1 font-bold">Recursos:</span> Refere-se às fontes disponibilizadas
                    que devem ser consultadas pelos alunos. Esses recursos devem
                    preferencialmente estar disponíveis na internet, mas também podem
                    ser complementados com atividades analógicas;
                </li>

                <li class="mb-2">
                    <span class="text-body-1 font-bold">Avaliação:</span> Consiste nos critérios de avaliação
                    do produto final;
                </li>

                <li class="mb-2">
                    <span class="text-body-1 font-bold">Conclusão:</span> Tem-se o desfecho, uma reflexão acerca
                    do produto apresentado, um feedback da experiência que a webquest
                    proporcionou ao longo do processo, saberes agregados, e também
                    o estímulo à realização de pesquisas futuras a partir do conhecimento
                    construído.
                </li>
            </ul>
        </div>
        <p class="mb-4">
            Aluno(a), a proposta desse produto educacional faz referência a uma
            metodologia ativa, na qual estimula seu protagonismo enquanto
            estudante, assim você assumirá uma posição ativa no processo de
            ensino/aprendizagem.
        </p>
        <p> Então, vamos lá?</p>
        <p>Apertem os cintos! 🚀 </p>
    </div>
      
</Layout>
