---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Área do Professor">
    <div class="flex-grow container mx-auto px-4 py-8 text-justify">
        <div class="mx-auto ">
            <h1 class="text-title-1 mb--2">Olá, professor(a)!</h1>
            <p class="text-5 mb-4">Seja muito bem-vindo(a) à Plataforma Cyberquest!</p>

        </div>

        <p class="mb-4">
            A proposta desse recurso educacional é de promover a integração de
            conteúdos relacionados à contratações públicas para os alunos do
            Ensino Médio Integrado, através do desenvolvimento e aplicação de
            webquests, ou seja, faz referência a uma metodologia ativa, levando
            em conta o perfil internauta dos estudantes que vivem em um contexto
            social fortemente marcado pela cultura digital, de modo a estimular
            seu protagonismo e uma posição ativa no processo de
            ensino/aprendizagem, no caso, para este tema que é de relevância
            coletiva e permeia a vida em sociedade.
        </p>
        <p class="mb-4">
            Professor(a), esclarecemos que a nossa intenção é ampliar o
            desenvolvimento de conteúdos voltados para a área de Administração
            Pública e governança, de modo que esse ambiente seja matéria fértil
            para pesquisas orientadas com essa finalidade.
        </p>
    </div>
</Layout>
