---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contato">
    <div class="flex-grow container mx-auto px-4 py-2 md:flex">
        <div class="prose">
            <p class="font-bold">Sugestões, elogios, críticas e contribuições:</p>
            <p class="mb-4">Sua mensagem é importante para nós!</p>
            <p class="mb-4">
                A plataforma Cyberquest é um produto educacional fruto do Programa
                de Pós-Graduação em Educação Profissional e Tecnológica ProfEPT IFRN
                campus Mossoró. A responsável pela construção e manutenção desse
                ambiente de aprendizagem é a mestranda Norha Kalyna Peixoto Queiroz,
                sob a orientação da Profª. Drª. Edneide da Conceição Bezerra.
            </p>
        </div>
    </div>
</Layout>
