---
import Layout from "../layouts/Layout.astro"
import Video from "../components/Video.astro"
import WebQuestList from "../components/WebQuestList.astro"
import Sidebar from "../components/Sidebar.astro"

---

<Layout title="Home">

	<div class="flex-grow  mx-auto px-6 py-8 md:flex gap-4">
        <Sidebar class="w-full md:max-w-80" />
        <main class="flex-1">
          <h1 class="text-title-1 font-bold mb-6">Bem-vindo ao CyberQuest</h1>
          <div class="mb-8">
            <div class="overflow-hidden mb-4">
              <Video code="7NLhNTohgY4" title="Webquest - atividades pedagógicas" />
            </div>
            <p class="text-gray-600">
              Este vídeo apresenta uma introdução às WebQuests e como elas podem ser usadas para aprendizagem interativa.
            </p>
          </div>
          <WebQuestList />
        </main>
      </div>
</Layout>