---
import Layout from "../layouts/Layout.astro"
import Video from "../components/Video.astro"
import WebQuestList from "../components/WebQuestList.astro"

---

<Layout title="Home">

	<div class="flex-grow  mx-auto px-6 py-4 md:flex gap-4">
        <main class="flex-1">
          <h1 class="text-title-1 font-bold mb-6">Comece por aqui!</h1>
          <div class="mb-8">
            <div class="overflow-hidden mb-4">
              <Video code="eD621cuIUVM" title="Webquest - atividades pedagógicas" />
            </div>
            <p class="text-gray-600">
              
            </p>
          </div>
          <WebQuestList />
        </main>
      </div>
</Layout>