---
import Layout from "../layouts/Layout.astro";
---

<Layout title="noticias">
    <div class="flex-grow container mx-auto px-4 py-8 text-justify">
        <span class="text-display"> Noticias</span>
    </div>
      
</Layout>
