---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Send from "../assets/images/send.gif";
---

<Layout title="obrigado">
  <div
    class="container mx-auto px-4 py-8 flex  justify-center items-center"
  >
    <div>
      <Image
      src={Send}
      alt="Mensagem enviada"
      loading="lazy"
      width={100}
      height={100}
      class="mx-auto"
    />
    <div class="text-center">
      <p class="text-8 mb-4 text-body-1">Obrigado!</p>
      <p class="text-6">Sua mensagem foi enviada!</p>
    </div>
    </div>
  </div>
</Layout>
