---
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
    title="6. CONCLUSÃO"
    previous={`${import.meta.env.BASE_URL}/webquest/3/avaliacao`}
>
    <div>
        <p>
            Ao final dessa atividade vocês deverão diferenciar as modalidades de
            Contratações Públicas utilizadas no nosso país, conhecer suas
            finalidades, vantagens e desvantagens, podendo interpretar situações
            cotidianas, uma vez que esse tema permeia nossas vidas, além da
            importante reflexão acerca da transparência dos atos administrativos
            e efetividade com os recursos públicos. As contratações públicas
            movem a sua comunidade, seu Estado, seu País, e essa atividade é só
            o começo para ampliação do seu conhecimento, parabéns!
        </p>
    </div>
</WebQuest>
