---
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
    title="2. TAREFA"
    previous={`${import.meta.env.BASE_URL}/webquest/3`}
    next={`${import.meta.env.BASE_URL}/webquest/3/processo`}
>
    <div>
        <p class="mb-2">
            A) Pesquisar na Nova Lei de Licitações e Contratos, Lei nº.
            14.133/21, sobre as modalidades de licitação;
        </p>
        <p>
            B) Elaborar um quadro/tabela comparativo entre as modalidades de
            Contratações Públicas conforme a Lei nº. 14.133/21.
        </p>
    </div>
</WebQuest>
