---
import WebQuest from "../../../components/WebQuest.astro";
---

<WebQuest
    title="2. TAREFA"
    previous={`${import.meta.env.BASE_URL}/webquest/3/introducao`}
    next={`${import.meta.env.BASE_URL}/webquest/3/processo`}
>
    <div>
        <p class="mb-2">
            A) A equipe é responsável pelo suprimento de fundos de uma Escola
            Estadual de Educação Profissional, e deverá elaborar uma demanda de
            aquisição de material de expediente, mínimo de 8 itens;
        </p>
        <p>
            B) Deverá preencher o formulário de oficialização da demanda,
            devidamente justificado, conforme o seguinte modelo apresentado nos
            recursos dessa webquest.
        </p>
    </div>
</WebQuest>
