---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="text-16px text-body h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href={import.meta.env.BASE_URL}>
        <title>{title}</title> 

    </head>
    <body  class="bg-background color-foreground h-full flex flex-col"> 
        <Navbar />
        
        <div class="flex-1">
            <slot />
        </div>

        <Footer />
    </body>
</html>
